<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutsdev.materialtest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nutsdev.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nutsdev.activities.SubActivity"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nutsdev.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.nutsdev.activities.ActivityUsingLibraryTab"
            android:label="@string/title_activity_activity_using_library_tab" >
        </activity>
        <activity
            android:name="com.nutsdev.activities.VectorTestActivity"
            android:label="@string/title_activity_vector_test" >
        </activity>

        <service
            android:name="com.nutsdev.services.MyService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.nutsdev.activities.ActivityRecyclerItemAnimations"
            android:label="@string/title_activity_activity_recycler_item_animations" >
        </activity>
    </application>

</manifest>
